body {
    background-color: #edd5d5;
    align-content: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    color:#0b5400;

}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;

}


